html,body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #000000;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: jump 1s infinite ease-out;
    z-index: 90;
}

@keyframes jump {
    0% {
        transform: scale(1);
    }


    40% {
        transform: scale(0.9);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.AudioButton{
    border-radius: 100%;
    height: 5.5%;
    width: 13%;
    margin: 3% 3% 2% auto;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.mediaPlayer{
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    position: absolute;
    z-index: 100;
}

#Start{
    margin-left: 69%;
}
